@font-face {
  font-family: "Roboto Flex";
  src: url(/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
  font-family: "Gridlite PE";
  src: url(/fonts/GridlitePEVFTRIAL-All.ttf);
}

:root {
  color-scheme: light dark;
  /* world ---------------------------------------------------------------------------------------------------------------*/
  --Background: light-dark(#ffeed2, #343434);
  --background-shadow: light-dark(
    oklch(0.4408 0.0617 80.33 / 20%),
    oklch(0 0 0 / 40%)
  );
  /* buttons not pressed ---------------------------------------------------------------------------------------------------------------*/
  --button-colors: light-dark(rgb(255, 225, 188), oklch(0.3485 0 0));
  --button-highlight: light-dark(#fff3c9, #e1e1e157) 1px solid;
  --button-soccet: light-dark(#89774f, #000000);
  --button-shadow: light-dark(rgba(58, 44, 0, 0.2), rgba(0, 0, 0, 0.2)) 0px 15px
    3px 0px;
  --button-shadow-on-button: light-dark(
      rgba(58, 44, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    )
    0px 8px 3px 3px;
  /* Buttons pressed ---------------------------------------------------------------------------------------------------------------*/
  --light-in-button-pressed: light-dark(black, oklch(0.9012 0.156591 188.2171));
  --button-colors-pressed: light-dark(rgb(222, 192, 155), #272727);
  --button-shadow-pressed: light-dark(
    rgba(58, 44, 0, 0.2),
    rgba(0, 0, 0, 0.2) 0px 2px 3px 0px
  );
  --button-icon: light-dark(black, black);

  /* Neon shcerm ---------------------------------------------------------------- */
  --neon-screen-BG: light-dark(#5d6555, #1e2a31);
  --neon-screen-BG-when-on: light-dark(#5d6555, #002530);
  --neon-screen-shadow: light-dark(#42483d, #101619);
  --neon-screen-fontcolor: light-dark();

  /* Light States ---------------------------------------------------------------------------------------------------------------*/
  --light-highlight: light-dark(#fff3c9, #e1e1e157) 1px solid;

  --light-off: radial-gradient(
    circle at 50% 20%,
    rgba(255, 255, 255, 0.358),
    rgba(154, 154, 154, 0.186),
    rgba(255, 255, 255, 0.324)
  );
  --LED-shadow: light-dark(rgba(88, 65, 0, 0.131), rgba(42, 42, 42, 0.833)) 0px
    3px 3px 0px;

  --Light-green: radial-gradient(
    circle at 50% 40%,
    oklch(0.9483 0.1107 134.36) 12%,
    oklch(0.8741 0.2636 144.21) 40%,
    oklch(0.7985 0.1689 137.84) 70%
  );
  --Light-green-glow: rgb(134, 255, 120) 0 0 40px 15px,
    inset #50ff24 0 -1.5px 3px, rgb(85, 255, 67) 0 0px 10px;

  --Light-orange: radial-gradient(
    circle at 50% 40%,
    oklch(0.9259 0.1477 99.13) 12%,
    oklch(0.8621 0.1123 72.65) 30%,
    oklch(0.7543 0.1605 48.35) 70%
  );
  --Light-orange-glow: rgb(255, 136, 51) 0 0 40px 15px,
    inset #e86c00 0 -1.5px 3px, rgb(255, 119, 0) 0 0px 10px;

  --light-red: radial-gradient(
    circle at 50% 40%,
    oklch(0.9292 0.0815 87.23) 12%,
    oklch(0.8196 0.1064 42.12) 40%,
    oklch(0.6697 0.2175 25.27) 70%
  );

  --Light-red-glow: rgb(255, 66, 60) 0 0 40px 15px, inset #ff9684 0 -1.5px 3px,
    rgb(255, 157, 20) 0 0px 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;

  background-color: var(--Background);

  > div:nth-child(1) {
    position-anchor: --platen;
    position-area: center;
    position: fixed;
    width: 100vw;
    height: anchor-size(height);
    /* background-color: red; */
    box-shadow: inset var(--background-shadow) 0px -45px 25px -30px;
    border-bottom: var(--button-soccet) 0.3em solid;
    z-index: 2;
  }

  /* (bronnen: https://chrome.dev/carousel-configurator/) */
  /* CAROUSEL */
  > div:nth-child(2) {
    display: flex;
    anchor-name: --platen;
    position-anchor: --controlpanel;
    height: 20em;
    aspect-ratio: 2/1;
    background-color: var(--Background);
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    /* Styling van de caroucel buttons */
    /* (Bron: Sanne) */
    &::scroll-button(*) {
      position-area: center;
      position: fixed;

      appearance: none;
      border: none;
      background-color: var(--button-colors);
      border-top: var(--light-highlight);
      border-radius: 1em;
      box-shadow: var(--button-shadow);
      background-repeat: no-repeat;
      background-size: auto 50%;
      background-position: center;

      width: anchor-size(width);
      height: anchor-size(height);

      cursor: pointer;
    }

    /* Styling van de right caroucel button */
    &::scroll-button(right) {
      content: "" / "Next";
      position-anchor: --next;
      border-radius: 0.1em 0.5em 0.5em 0.1em;
      background-image: url(../assets/volgende-icon.svg);
    }

    /* Styling van de left caroucel button */
    &::scroll-button(left) {
      content: "" / "Previous";
      position-anchor: --prev;
      border-radius: 0.5em 0.1em 0.1em 0.5em;
      background-image: url(../assets/vorrige-icon.svg);
    }

    &::scroll-button(*):active {
      background-color: var(--button-colors-pressed);
      border: transparent;
      transform: scale(0.99);
      box-shadow: var(--button-shadow-pressed);
    }

    /* (bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-marker) */

    &::scroll-marker-groupe {
      display: flex;
      gap: 0.4em;
      place-content: center;
    }

    &::scroll-marker {
      content: "";
      border: 1px solid red;
      height: 1em;
      width: 1em;
    }

    &::scroll-markergroupe:target-current {
      background: red;
    }

    /* ITEM van carousel*/
    span {
      margin: 20em 5em 0em 5em;
      scroll-snap-align: center;
      container-type: scroll-state;

      /* LP plaat */
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30em;
        aspect-ratio: 1/1;
        border-radius: 15em;

        box-shadow: rgba(0, 0, 0, 0.2) 0px -15px 30px 10px;

        /* bron: https://chatgpt.com/share/69b47018-dab4-800c-8939-3d2eb2611e6a */
        background: conic-gradient(
          from 320deg at 50% 50%,
          oklch(0 0 0) 0deg,
          oklch(0.17 0 0) 30deg,
          oklch(0.25 0 0) 60deg,
          oklch(0.17 0 0) 90deg,
          oklch(0 0 0) 120deg
        );

        @container scroll-state(snapped) {
          transition: all 1s ease;
          transform: translateY(-50%) rotate(0deg);
        }

        /* LP binnerand */
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          aspect-ratio: 1/1;
          border: transparent 0px solid;
          border-radius: 15em;
          background: conic-gradient(
            from 0deg at 50% 50%,
            oklch(0.15 0 0) 0deg,
            oklch(0.17 0 0) 5deg,
            oklch(0.2 0 0) 20deg,
            oklch(0.17 0 0) 35deg,
            oklch(0.15 0 0) 40deg
          );

          /* LP label */
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70%;
            aspect-ratio: 1/1;
            border: transparent 0px solid;
            border-radius: 15em;

            background-image: url(../assets/Platen/Label-01.svg);

            /* LP gat */
            > div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 12%;
              aspect-ratio: 1/1;
              background-color: var(--Background);
              border: transparent 0px solid;
              border-radius: 15em;
            }
          }
        }
      }
    }

    /* LP labels: */
    span:nth-child(1) > div > div > div {
      background-color: rgb(212, 0, 0);
    }
    span:nth-child(2) > div > div > div {
      background-color: rgb(212, 92, 0);
    }
    span:nth-child(3) > div > div > div {
      background-color: rgb(212, 201, 0);
    }
    span:nth-child(4) > div > div > div {
      background-color: rgb(0, 212, 39);
    }
    span:nth-child(5) > div > div > div {
      background-color: rgb(0, 148, 212);
    }
  }

  > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "- on-off light"
      "control control  control";

    gap: 1em;
    padding: 2em 4em 1em 4em;

    @media (min-width: 580px) {
      display: flex;
      align-items: start;
      gap: 3em;
      padding: 2em 8em 1em 8em;
    }

    /* ON-OFF BUTTON ------------------------------------------------------------------------------------------------------------ */
    label[for="on-off"] {
      grid-area: on-off;
      justify-self: center;
      position: relative;
      width: 4em;
      height: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1em;
      border: var(--button-soccet) 0.3em solid;
      border-radius: 3em;

      svg {
        position: absolute;
        z-index: 1;
        height: 1.5em;
        aspect-ratio: 1/1;
        fill: var(--button-icon);
      }

      input {
        appearance: none;
        background-color: var(--button-colors);
        border-top: var(--light-highlight);
        box-shadow: var(--button-shadow-on-button);
        border-radius: 3em;
        width: 100%;
        height: 100%;
        position: absolute;

        &:checked {
          background-color: var(--button-colors-pressed);
          box-shadow: var(--button-shadow-pressed);
          border-top: none;
        }
      }
      &:has(input:checked) svg {
        fill: var(--light-in-button-pressed);
        filter: drop-shadow(var(--light-in-button-pressed) 0 0 10px);
      }
    }

    /* STYLING BUTTONS --------------------------------------------------------------------------------------------------------------------- */
    /* (bronnen: https://uiverse.io/m1her/splendid-rat-12) */

    > div {
      grid-area: control;
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1em;
      anchor-name: --controlpanel;

      /* Omhulsel van de knoppen */
      form {
        display: flex;
        align-items: center;
        background-color: var(--button-soccet);
        height: 4em;
        width: 20em;
        border-radius: 0.7em;
        gap: 2px;
        padding: 4px;

        /* Styling knoppen */
        label,
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: var(--button-colors);
          flex: 1;
          box-shadow: var(--button-shadow);
          border-top: var(--button-highlight);
          border-radius: 0.1em;
          font-family: poppins, sans-serif;
          font-size: 1em;
          font-weight: 600;

          /* Radio buttons laten verdwijnen */
          input {
            appearance: none;
            border: none;
            background: none;
          }
          /* Hover pointer */
          &:hover {
            cursor: pointer;
          }
        }

        /* Styling per knop */
        /* Play */
        label:nth-child(1) {
          border-radius: 0.5em 0.1em 0.1em 0.5em;
        }

        /* Stop */
        button {
          appearance: none;
          border: none;
          border-radius: 0.1em 0.5em 0.5em 0.1em;
          border-top: var(--button-highlight);

          &:active {
            background-color: var(--button-colors-pressed);
            border: transparent;
            transform: scale(0.99);
            box-shadow: var(--button-shadow-pressed);
          }
        }

        svg {
          height: 1.5em;
          aspect-ratio: 1/1;
          fill: var(--button-icon);
        }

        label:has(input:checked),
        label:has(input:active) {
          background-color: var(--button-colors-pressed);
          border-top: none;
          color: var(--light-in-button-pressed);
          text-shadow: var(--light-in-button-pressed) 0 0 10px;
          box-shadow: var(--button-shadow-pressed);
          transform: scale(0.99);

          svg {
            fill: var(--light-in-button-pressed);
            filter: drop-shadow(var(--light-in-button-pressed) 0 0 10px);
          }
        }
      }

      /* Vorrige en volgende Buttons */
      span {
        display: flex;
        align-items: center;
        background-color: var(--button-soccet);
        height: 3em;
        width: 20em;
        border-radius: 0.7em;
        gap: 2px;
        padding: 4px;

        button {
          tabindex: 0;
          appearance: none;
          border: none;
          height: 100%;
          width: 100%;
          background-color: var(--button-soccet);
          interactivity: inert;

          /* Achor link to carousel buttons */
          &:first-of-type {
            anchor-name: --prev;
          }
          &:last-of-type {
            anchor-name: --next;
          }
        }
      }
    }

    /* INGEDRUKTE radiobuttons when OFF */
    &:not(:has(input[name="on-off"]:checked)) {
      label:has(input:checked) svg,
      label:has(input:active) svg {
        fill: var(--button-icon);
        filter: none;
      }
    }

    /* LED LIGHT ---------------------------------------------------------------------------------------------------------------------------- */
    /* (Bronnen: https://chatgpt.com/share/69a97310-f0c4-800c-8fec-fb9733e469b3) */
    /* (Bronnen: https://claude.ai/share/81ab545a-42a5-437b-aa9d-489a09c4873a) */
    /* (bronnen:https: //developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/radial-gradient)*/
    /* (bronnen:https: https://codepen.io/ephbaum/pen/MYJNaj)*/

    /* OFF ----------------------------------------------------*/
    span {
      grid-area: light;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4em;
      width: 4em;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1em;
      }
    }

    &:has(input[name="on-off"]) span span {
      height: 1em;
      width: 1em;
      border-top: var(--light-highlight);
      background: var(--light-off);
      box-shadow: var(--LED-shadow);
    }

    /* ON -----------------------------------------------------*/
    &:has(input[name="on-off"]:checked) {
      /* ON - STOP | RED light */
      span:last-of-type span {
        border-radius: 1em;
        height: 1em;
        width: 1em;
        border: #ff8762 1px solid;
        background: var(--light-red);
        box-shadow: var(--Light-red-glow);
        transition: all 0.05s ease;
      }

      /* ON - PAUSE | ORANGE light */
      &:has(> div form label:nth-child(2) input:checked) > span span {
        border-radius: 1em;
        height: 1em;
        width: 1em;
        border: #fb9145 1px solid;
        background: var(--Light-orange);
        box-shadow: var(--Light-orange-glow);
        transition: all 0.05s ease;
      }

      /* Light ON - PLAY | GREEN light*/
      &:has(> div form > label:nth-child(1) input:checked) > span span {
        border-radius: 1em;
        height: 1em;
        width: 1em;
        border: #8aff8c 1px solid;
        background: var(--Light-green);
        box-shadow: var(--Light-green-glow);
        transition: all 0.05s ease;
      }
    }
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* (Bron: https://gemini.google.com/share/4804e215bd10) */

/* Makes the LP apeare when the on-off button is checke */
body:has(input[name="on-off"]:checked) {
  > div:nth-child(2) span {
    transition: all 0.3s ease;
  }

  /* Defining the animation */
  &:has(form > label input:checked) > div:nth-child(2) span {
    scale: 0.9;
    transition: all 0.3s ease;
    animation: wobble 0.3s ease infinite 0.3s;

    div div div {
      animation: spin 3s linear infinite 0.3s;
    }
  }

  /* LP control when on play */
  &:has(form > label:nth-child(1) input:checked) > div:nth-child(2) span {
    animation-play-state: running;

    div div div {
      animation-play-state: running;
    }
  }

  /* LP control when on pause */
  &:has(form > label:nth-child(2) input:checked) > div:nth-child(2) span {
    animation-play-state: paused;
    transition: all 0.3s ease; /* Keeps your smooth scale transition */

    div div div {
      animation-play-state: paused;
    }
  }
}

body:not(:has(input[name="on-off"]:checked)) > div:nth-child(2) span {
  transform: translateY(20em);
  transition: all 1s ease;
}

/* Animations */
@keyframes wobble {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 2deg;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/* light glow verwijderd uit de knoppen in light mode*/
/* (Bronnen:)
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/prefers-color-scheme */

@media (prefers-color-scheme: light) {
  body > div:nth-child(3) {
    label[for="on-off"]:has(input:checked) svg,
    > div form label:has(input:checked) svg,
    > div form label:has(input:active) svg {
      filter: none;
    }
  }
}

/* <!-- caroucel when off  --> */
footer {
  background-color: var(--neon-screen-BG);
  border: var(--button-soccet) 4px solid;
  box-shadow: inset 0px 3px 3px 0px var(--neon-screen-shadow);
  border-radius: 0.3em;
  width: 20em;
  overflow-x: auto;
  display: flex;
  gap: 0;

  &::-webkit-scrollbar {
    display: none;
  }
  /* <!-- group --> */
  > div {
    display: flex;
    animation: textbord 5s infinite linear 1s;
    animation-play-state: paused;

    /* <!-- words --> */
    > div {
      flex: 0 0 auto;
      overflow: hidden;
      white-space: nowrap;

      font-family: Gridlite PE;
      font-size: 2em;
      font-variation-settings: "wght" 550, "BACK" 100, "RECT" 100, "ELSH" 3;
      color: transparent;
      text-shadow: none;
      transition: 0.1s;
    }
  }
}

html:has(input[name="on-off"]:checked) footer {
  background-color: var(--neon-screen-BG-when-on);
  border: var(--button-soccet) 4px solid;

  &::-webkit-scrollbar {
    display: none;
  }
  /* <!-- group --> */
  > div {
    display: flex;
    animation: textbord 5s infinite linear 1s;
    animation-play-state: running;

    /* <!-- words --> */
    > div {
      color: var(--light-in-button-pressed);
      text-shadow: var(--light-in-button-pressed) 1px 0 10px;
      transition: 01s;
    }
  }
}

@media (prefers-color-scheme: light) {
  footer > div > div {
    text-shadow: none;
    background-color: transparent;
    font-variation-settings: "wght" 550, "BACK" 00, "RECT" 00, "ELSH" 3;
  }
  html:has(input[name="on-off"]:checked) footer div div {
    text-shadow: none;
  }
}

@keyframes textbord {
  from {
    translate: 0;
  }
  to {
    translate: -25%;
  }
}
